<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Disasmo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Disasmo.Properties.Settings>
            <setting name="PathToCoreCLR_V5" serializeAs="String">
                <value />
            </setting>
            <setting name="JitDumpInsteadOfDisasm_V5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAsmComments_V5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomEnvVars3_V6" serializeAs="String">
                <value>COMPlus_TC_QuickJitForLoops=1;;COMPlus_JitDiffableDasm=1;;COMPlus_ReadyToRun=0;;COMPlus_ZapDisable=1;;COMPlus_TieredPGO=1;;COMPlus_JitDumpVerboseTrees=1</value>
            </setting>
            <setting name="AllowDisasmInvocations_V5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDotnetBuildForReload_V5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunAppMode_V5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNoRestoreFlag_V5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomRuntime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseTieredJit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphvisDotPath" serializeAs="String">
                <value>C:\Program Files\Graphviz\bin\dot.exe</value>
            </setting>
        </Disasmo.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
