<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Disasmo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Disasmo.Properties.Settings>
            <setting name="PathToCoreCLR" serializeAs="String">
                <value />
            </setting>
            <setting name="JitDumpInsteadOfDisasm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAsmComments" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPrologueEpilogue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CustomEnvVars" serializeAs="String">
                <value>COMPlus_JitDiffableDasm=1,COMPlus_ReadyToRun=0</value>
            </setting>
            <setting name="SkipDotnetRestoreStep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowDisasmInvocations" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PreferCheckedBuild" serializeAs="String">
                <value>True</value>
            </setting>
        </Disasmo.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
