<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Disasmo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Disasmo.Properties.Settings>
            <setting name="PathToCoreCLR_V9" serializeAs="String">
                <value />
            </setting>
            <setting name="JitDumpInsteadOfDisasm_V9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowAsmComments_V9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomEnvVars3_V13" serializeAs="String">
                <value>DOTNET_JitDiffableDasm=0;;DOTNET_ReadyToRun=1;;</value>
            </setting>
            <setting name="UseDotnetBuildForReload_V9" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunAppMode_V9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNoRestoreFlag_V9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCustomRuntime_V4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseTieredJit_V4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GraphvisDotPath" serializeAs="String">
                <value>C:\Program Files\Graphviz\bin\dot.exe</value>
            </setting>
            <setting name="FgPhase" serializeAs="String">
                <value>OPT-CHK</value>
            </setting>
            <setting name="FgEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PresenterMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrintInlinees_V3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UsePGO" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CrossgenArgs_V4" serializeAs="String">
                <value>--targetos windows --targetarch x64 --inputbubble --instruction-set skylake --compilebubblegenerics --parallelism 1 --Ot </value>
            </setting>
            <setting name="IlcArgs_V3" serializeAs="String">
                <value>-o:nativeaotbin;;-r:%DOTNET_REPO%\artifacts\bin\coreclr\windows.x64.Checked\aotsdk\*.dll;;-r:%DOTNET_REPO%\artifacts\bin\microsoft.netcore.app.runtime.win-x64\Release\runtimes\win-x64\lib\net7.0\*.dll;;-g;;--Ot;;--initassembly:System.Private.CoreLib;;--initassembly:System.Private.StackTraceMetadata;;--initassembly:System.Private.TypeLoader;;--initassembly:System.Private.Reflection.Execution;;--directpinvokelist:%DOTNET_REPO%\artifacts\bin\coreclr\windows.x64.Checked\build\WindowsAPIs.txt;;--directpinvoke:System.Globalization.Native;;--stacktracedata;;--scanreflection;;--feature:System.Runtime.Serialization.EnableUnsafeBinaryFormatterSerialization=false;;--feature:System.Resources.ResourceManager.AllowCustomResourceTypes=false;;--feature:System.Linq.Expressions.CanCompileToIL=false;;--feature:System.Linq.Expressions.CanEmitObjectArrayDelegate=false;;--feature:System.Linq.Expressions.CanCreateArbitraryDelegates=false</value>
            </setting>
            <setting name="UseUnloadableContext" serializeAs="String">
                <value>False</value>
            </setting>
        </Disasmo.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
